<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon List</title>
</head>
<body>
  <form action="/add">
  <% pokemonNames.forEach(val => { %>
    <h2><%= val %></h2>
    <input></input>
    <button>Add to Favorites</button>
  <% }) %>
  </form>
</body>
</html>